bootstrap.servers=pkc-7prvp.centralindia.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="SLPKUDTOQU2QV6B3" password="0R07Bd5g3HsO9E/xVF63nQVHrQlNP7uU2pzHHkmZvMRjbkevO+K4dE1qrDslhVmj";
sasl.mechanism=PLAIN
